* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* commom */
.text-center{
    text-align: center !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.333333%;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.clear{
    clear: both;
}
.text-white{
    color:#fff;
}
.pull-right{
    float: right;
}
/* main */
#main{

}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    height: 46px;
    background-color: #000;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav > li{
    display: inline-block;

}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;

}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 10px;
}
#header .search-btn{
    float:right;
    padding: 0 21px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
.slider {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding-top: 45px;
    overflow: hidden;
}
.slider_imgs {
    width: 100%;
    display: flex;
}
.slider_imgs img{
    width: 100%;
}

.slider_imgs input {
    display: none;
}

.labelslider {
    display: flex;
    justify-content: center;
}
.labelslider label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid red;
    margin: 2px;
}

.labelslider label:hover {
    background: green;
}
#img1:checked ~.imgslider1{
    margin-left: -100%;
}
#img2:checked ~.imgslider2{
    margin-left: -200%;
}
#img3:checked ~.imgslider3{
    margin-left: -300%;
}

#content{

}
#content .content-section{
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* Tour section */
.tour-section{
    background-color: #000;
}
.ticket-lists{
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}
.ticket-lists li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom:1px solid #ddd ;
}
.ticket-lists .sold-out{
    background-color:#f44336 ;
    color: #fff;
    padding: 4px;
    margin-left: 16px;
}
.ticket-lists .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}
/* places */
.places-list{
    margin-top: 32px;
    padding-bottom: 48px;
}
.place-img:hover{
    opacity: 0.6;
}
.place-img{
    width: 100%;
    display: block;
}
.place-body{
    background-color: #fff;
}
.place-heading{
    padding-top: 16px;
    padding-left: 16px;
    font-size: 15px;
    font-weight: 700;
}
.place-time{
    padding-left: 16px;
    margin-top: 15px;
    color: #757575;
    font-style: italic ;
}
.place-desc{
    padding-left: 16px;
    margin-top: 15px;
    /*tang do cao cua chữ* */
    line-height: 1.4;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    border: none;
}
.btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i{
    width: 30px;
    display: inline-block;
}
.form-control{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.map-section img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
}
#footer .social-list{
    font-size: 24px;
}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none; /*bỏ gạch chân thẻ a*/
}
#footer .copy-right a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.5);
}
#footer .copy-right{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
